@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-flex {
    @apply h-20 text-4xl flex items-center justify-center block
}

.title-text {
    @apply text-white font-bold font-logo select-none
}

.accent-gradient {
    @apply bg-gradient-to-br from-cyan-500 to-blue-600
}

.builder-category-bar {
    @apply flex flex-col w-full
    md:flex-row md:h-20
}

.builder-bar-tile {
    @apply bg-gradient-to-b from-cyan-600 to-lime-200 shadow-blue-400
    shadow-xl w-full h-20 flex flex-row justify-center
    transition-transform duration-300
    md:w-1/6
}

.builder-bar-tile:hover {
    @apply scale-110 z-20
}

.builder-bar-tile-title {
    @apply flex flex-row h-10 justify-center items-center
}

.builder-bar-tile-title-text {
    @apply text-sm text-white font-medium text-center font-title font-bold select-none pl-1
    md:text-xl
}

.config-grid {
    @apply flex flex-col w-full h-full bg-gradient-to-b from-cyan-600 to-blue-700
    md:grid md:grid-cols-3
}

.config-grid-column {
    @apply flex flex-col
}

.config-grid-column div {
    @apply h-32
}

.config-grid-md-dummy {
    @apply hidden
    md:block
}

.config-grid-md-dummy-flex {
    @apply hidden
    md:flex
}

.config-grid-component-text {
    @apply flex flex-col items-center justify-center text-white font-light text-xl
}

.config-analysis-result-block {
    @apply w-full bg-gradient-to-b from-blue-900 to-cyan-600
    ring-2 ring-black
    flex flex-col items-center justify-center
}

.config-analysis-result-title {
    @apply tracking-wide text-white text-center uppercase text-5xl select-none py-8 font-title font-bold
    md:tracking-[1.5em] md:pl-20
}

.config-analysis-result-text {
    @apply text-white font-title text-3xl italic font-light text-center
}

.config-analysis-result-subtext {
    @apply text-white font-title text-xl text-center
    md:text-2xl
}

.store-button {
    @apply bg-white rounded-full ring-2 ring-black text-black font-title font-extrabold px-2 py-1 m-3 select-none
    transition-all
}

.store-button:hover {
    @apply scale-105 ring-4 animate-pulse
}

.catalogue-body {
    @apply flex flex-col w-full h-screen bg-gradient-to-b from-blue-600 to-cyan-300 items-center justify-center
}

.catalogue-grid {
    @apply grid grid-cols-4 gap-4 w-5/6 h-full m-10
}